﻿@model MVCcars.Models.GenericModelClassViewer<Employee>

@{
    ViewData["Title"] = "Employee Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <form asp-controller="Employees" asp-action="Index" method="get">
        <p>
    Search by name: <input type="text" asp-for="Searched" />
    <input type="submit" value="Ordina Per" />
        </p>
    </form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.list[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].HiredAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].HomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].ReportsTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HiredAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportsTo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id.Remove(0,10)">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id.Remove(0,10)">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id.Remove(0,10)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
