﻿@model MVCcars.Models.Company
@System.Globalization.CultureInfo.CurrentUICulture

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExternalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExternalId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Line1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Line1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Line2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Line2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Location.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Location.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Location.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Location.Longitude)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
