﻿@model MVCcars.Models.GenericModelClassViewer<Company>
@{
    ViewData["Title"] = "Company Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Companies" asp-action="Index" method="get">
    <p>
        Search in company name: <input type="text" asp-for="Searched"/>
        <input type="submit" value="Ordina Per" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.list[0].ExternalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].Contact.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].Contact.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list[0].Fax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.list) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ExternalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id.Remove(0,10)">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id.Remove(0,10)">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id.Remove(0,10)">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
