﻿@model MVCcars.Models.Supplier
@System.Globalization.CultureInfo.CurrentUICulture
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomePage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Line1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Line1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Line2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Line2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Location.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Location.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Location.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Location.Longitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id.Remove(0,10)">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
